[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/delmitmate"]
	path = vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/a"]
	path = vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
[submodule "vim/bundle/vim-pinpoint"]
	path = vim/bundle/vim-pinpoint
	url = https://github.com/fmoralesc/vim-pinpoint
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/flake8"]
	path = vim/bundle/flake8
	url = git://github.com/vim-scripts/vim-flake8.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/youcompleteme"]
	path = vim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/bundle/rainbow"]
	path = vim/bundle/rainbow
	url = git@github.com:luochen1990/rainbow.git
[submodule "vim/bundle/YankRing.vim"]
	path = vim/bundle/YankRing.vim
	url = git@github.com:vim-scripts/YankRing.vim.git
